<div class="row mb-2">
    <div class="col-12">
        <label class="form-label">
            Descrição
        </label>
        <input type="text" class="form-control" value="{{ curso.descricao }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <label class="form-label">
            Situação
        </label>
        <input type="text" class="form-control" value="{{ curso.situacao }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <label class="form-label">
            Ementa
        </label>
        <textarea rows="4" class="form-control" disabled>{{ curso.ementa }}</textarea>
    </div>
</div>