<div class="card border-0 shadow mb-4">

	<div class="card-body">

        <div class="row">
        	<div class="col-12">
		        {{ form_start(form, { 'method': 'GET' }) }}
		        {% block fields %}
		        	{{ form_widget(form) }}
		        {% endblock %}
	        </div>
        </div>

        <div class="row">
        	<div class="col-12 d-flex justify-content-end">
	    	    <a href="{{ app.request.pathInfo }}" class="btn btn-danger">
                    Limpar
                </a>
	    		<input class="btn btn-info text-white" type="submit" name="submit-filter" value="Filtrar"/>
	    		{{ form_end(form) }}
	        </div>
        </div>

    </div>

</div>