{% extends "components/filter/form.html.twig" %}

{% block fields %}
    <div class="row">
	    <div class="col-4">
			{{ form_row(form.aluno) }}
		</div>
        <div class="col-4">
			{{ form_row(form.descricao) }}
		</div>
		<div class="col-2">
			{{ form_row(form.vencimento) }}
		</div>
		<div class="col-2">
			{{ form_row(form.situacao) }}
		</div>
    </div>
{% endblock %}