.logo-image-header {
    width: 20% !important;
    height: 20% !important;
    object-fit: contain;
    margin-left: auto !important;
}

.cidade {
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 1rem !important;
}