{% extends 'app.html.twig' %}

{% block title %}
    Editar Usu치rio
{% endblock %}

{% block pageName %}
    Editar Usu치rio
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item">
        Usu치rio
    </li>
    <li class="breadcrumb-item">
        Editar Usu치rio
    </li>
    <li class="breadcrumb-item active active">
        {{ user.email }}
    </li>
{% endblock %}

{% block content %}

    {{ include('user/_form.html.twig', {'button_label': 'Salvar'}) }}
    
{% endblock %}