{% extends 'app.html.twig' %}

{% block title %}
    Cadastrar Usu치rio
{% endblock %}

{% block pageName %}
    Cadastrar Usu치rio
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item">
        Usu치rio
    </li>
    <li class="breadcrumb-item active">
        Cadastrar Usu치rio
    </li>
{% endblock %}

{% block content %}

    {{ include('user/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/user/edit') }}
{% endblock %}